.bg-blue {
    background-color: #008dc9;
}

#success_alert #error_alert {
    display: none;
}

.jumbotron {
    background-image: url('../images/sick_woman_2_opaque.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
}
