<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    <title>Tusavirus Outbreak - Ministry of Health</title>
</head>

<body class="">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top">
        <div class="container">
            <a class="navbar-brand order-1 mr-0" href="/" target="_blank">TuV Outbreak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/data">Data</a>
                    <a class="nav-item nav-link" href="/report">Report cases</a>
                </div>
            </div>
        </div>
    </nav><!-- /navbar -->
    <!-- title section -->
    {% block body %}{% endblock %}
        <!-- footer -->
        <div class="row py-3 my-3">
            <div class="col-md-7">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report">Report cases</a>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-outline-secondary">Other</button>
                            <button type="button"
                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Beta functions</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/api">API</a>
                                <a class="dropdown-item" href="/geo">Geolocalization</a>
                                <a class="dropdown-item" href="/sms-alerts">SMS alerts</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md text-md-right">
                <small>&copy; 2020 Charles for PSL</small>
            </div>
        </div><!-- /footer -->
    </div><!-- /main container-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>