{% extends 'base.html' %}

{% block body %}
<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid bg-light text-gray pb-4">
  <div class="container text-sm-center pt-4">
    <h1 class="display-5">Tusavirus Outbreak</h1>
  </div>
</div>
</div><!-- /jumbotron -->

<div class="container pt-4">
  <div class="row">
    <div class="col">
      <h3 class="mb-4">Data available</h3>
      <p>
        There is a Tusavirus outbreak in Colombia. A national emergency has been declared by the government.
        The virus spreads quickly from person to person. Information on the evolution of the epidemic by
        department can be found on this website. The hypothesis that symptoms may be made worse by watching a
        music video or listening to a song is investigated. There are ongoing investigations to learn more.</p>
      <h1 id="schedule" class="display-6 text-center my-5 text-muted">Infections by department</h1>

      <ul class="list-group">
        {% for state in states %}
        {%- if state['infections'] > 0 -%}
        <li class="list-group-item list-group-item-warning">
          {%- else -%}
        <li class="list-group-item">
          {%- endif -%}
          <div class="d-flex justify-content-between">
            <h5>{{ state['name'] }}</h5>
            <h4><span class="badge badge-secondary">{{ state['infections'] }}</span></h4>
          </div>
        </li>
        {% endfor %}
        <li class="list-group-item list-group-item-info">
          <div class="d-flex justify-content-between">
            <h3>Total</h3>
            <h3><span class="badge badge-secondary">{{ total_infections }}</span></h3>
          </div>
      </ul><!-- /schedule -->
    </div>
  </div>
  {% endblock %}