{% extends 'base.html' %}

{% block body %}
<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid bg-light text-gray pb-4">
  <div class="container text-sm-center pt-4">
    <h1 class="display-5">Tusavirus Outbreak</h1>
  </div>
</div>
</div><!-- /jumbotron -->

<div class="container pt-4">
  <div class="row">
    <div class="col">
      <h3 class="mb-4">Data available</h3>
      <p>

        The Centers for Disease Control and Prevention (CDC) is closely monitoring an outbreak of
        respiratory illness caused by a novel (new) coronavirus first identified in Wuhan, Hubei Province,
        China. Chinese authorities identified the new coronavirus, which has resulted in thousands of
        confirmed cases in China, including cases outside Wuhan City. Additional cases have been identified
        in a growing number of other international locations, including the United States. There are ongoing
        investigations to learn more.</p>
      <h1 id="schedule" class="display-6 text-center my-5 text-muted">Infections by department</h1>

      <ul class="list-group">
        {% for state in states.values() %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <h3>{{ state.name }}</h3>
            <h3><span class="badge badge-secondary">{{ state.id }}</span></h3>
          </div>
        </li>
        {% endfor %}
        <li class="list-group-item list-group-item-info">
          <div class="d-flex justify-content-between">
            <h3>Total</h3>
            <h3><span class="badge badge-secondary">1203</span></h3>
          </div>
      </ul><!-- /schedule -->
    </div>
  </div>
{% endblock %}