{% extends 'base.html' %}

{% block body %}
<!-- title section -->
<div class="jumbotron jumbotron-fluid bg-light text-gray">
    <div class="container text-sm-center pt-5">
        <h1 class="display-3">Tusavirus Outbreak</h1>
        <p class="lead">Situation about the Tusavirus outbreak (TuV-2020) in Colombia</p>
    </div>
</div>
</div><!-- /title section -->
<!-- main container -->
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-7">
            <h3 class="mb-4">Situation Summary</h3>
            <p>

                The Centers for Disease Control and Prevention (CDC) is closely monitoring an outbreak of
                respiratory illness caused by a novel (new) coronavirus first identified in Wuhan, Hubei Province,
                China. Chinese authorities identified the new coronavirus, which has resulted in thousands of
                confirmed cases in China, including cases outside Wuhan City. Additional cases have been identified
                in a growing number of other international locations, including the United States. There are ongoing
                investigations to learn more.</p>
            <div class="card mt-4">
                <h5 class="card-header">Outbreak summary</h5>
                <div class="card-body">
                    <p class="card-text">{{ total_infections }} cases confirmed so far. {{ states_affected }} of
                        {{ total_states }} states affected.</p>
                    <a href="/data" class="btn btn-primary">Find out more</a>
                    <a href="/report" class="btn btn-secondary">Report cases</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <h3 class="mb-4">News</h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"><strong>MongoDB</strong>: NoSQL
                    database</a>
                <a href="#" class="list-group-item list-group-item-action"><strong>Express</strong>: Framework for
                    Node</a>
                <a href="#" class="list-group-item list-group-item-action"><strong>React</strong>: JavaScript
                    library</a>
                <a href="#" class="list-group-item list-group-item-action"><strong>Node.js</strong>: JavaScript
                    environment</a>
                <a href="#" class="list-group-item list-group-item-action"><strong>ES2015</strong>: Latest version
                    of JavaScript</a>
                <a href="#" class="list-group-item list-group-item-action"><strong>Babel</strong>: JavaScript
                    compiler</a>
            </div>
        </div>
    </div>
    {% endblock %}