{% extends 'base.html' %}

{% block body %}
<!-- title section -->
<div class="jumbotron jumbotron-fluid bg-light text-gray">
    <div id="text_jumbotron" class="container text-sm-center pt-5">
        <h1 class="display-3">Tusavirus Outbreak</h1>
        <p class="lead">Situation about the Tusavirus outbreak (TuV-2020) in Colombia</p>
    </div>
</div>
</div><!-- /title section -->
<!-- main container -->
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-7">
            <h3 class="mb-4">Situation Summary</h3>
            <p>
                There is a Tusavirus outbreak in Colombia. A national emergency has been declared by the government.
                The virus spreads quickly from person to person. Information on the evolution of the epidemic by
                department can be found on this website. The hypothesis that symptoms may be made worse by watching a
                music video or listening to a song is investigated. There are ongoing investigations to learn more.</p>
            <div class="card mt-4">
                <h5 class="card-header">Outbreak summary</h5>
                <div class="card-body">
                    <p class="card-text">{{ total_infections }} cases confirmed so far. {{ states_affected }} of
                        {{ total_states }} departments affected.</p>
                    <a href="/data" id="summary_find_out" class="btn btn-primary">Find out more</a>
                    <a href="/report" id="summary_report_cases" class="btn btn-secondary">Report cases</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <h3 class="mb-4">News</h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"><strong>Feb 1, 2020</strong>: State of
                    emergency declared in the country</a>
                <a href="#" class="list-group-item list-group-item-action"><strong>Jan 28, 2020</strong>: Confirmed
                    person-to-person transmission</a>
                <a href="#" class="list-group-item list-group-item-action"><strong>Jan 25, 2020</strong>: Created the
                    commission to stop the virus spreading</a>
            </div>
        </div>
    </div>
    {% endblock %}